.change-message {
    display: block;
    text-overflow: ellipsis;
    max-width: calc(100% - 60px);
    overflow: hidden;
    white-space: nowrap;
}

.change-fields {
    display: block;
    text-overflow: ellipsis;
    max-width: calc(100% - 60px);
    overflow: hidden;
    white-space: nowrap;
}

.selected {
    border: 1.5px;
    border-style: solid;
    border-color: var(--ion-color-medium);
    background-color: var(--ion-color-medium);
}